<div class="w-1/4 mb-10 px-2">
    <!-- <a href=" /rooms/{{room.pk}}">{{room.name}} / ${{room.price}</a> -->
    <!-- <a href="{% url "rooms:detail" room.pk %}">
        <img src="{{room.first_photo}}">
        {{room.host.superhost}} {{room.name}} / ${{room.price}}
    </a> -->
    <!-- 이미지가 모서리가 둥글기 떄문에 div로 작성 -->
    <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2 " style="background-image: url({{room.first_photo}});">
    </div>
    <div class="flex justify-between items-center">
        <div>

            {% if room.host.superhost %}
            <span
                class=" uppercase font-medium text-xs border border-black text-black rounded-lg py-px px-1">superhost</span>
            {% endif %}

            <span class="text-sm text-gray-600 ">{{room.city}}</span>
        </div>
        <span class=" text-sm items-center">
            <i class="fas fa-star text-red-500 text-xs mr-1"></i> {{room.total_rating}}
        </span>
    </div>
</div>