{% extends 'base.html' %}

{% block page_name %}
Search
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<h2>Search {{city}}</h2>
<form action="{% url "rooms:search" %}" method="GET">
    <div>
        <label for="city">City</label>
        <input type="text" id="city" name="city" placeholder="Search by City" value="{{city}}">
    </div>

    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            {% for country in countries %}
            <option value="{{country.code}}" {% if country.code == s_country %}selected{% endif %}>{{country.name}}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="roomtype">Room Types</label>
        <select id="roomtype" name="room_type">
            <option value="0" {% if s_room_type == 0 %}selected{% endif %}>Any Kind</option>
            {% for type in room_types %}
            <option value="{{type.id}}" {% if s_room_type == type.pk %}selected{% endif %}>{{type}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="price">Price</label>
        <input value="{{price}}" type="number" id="price" name="price" placeholder="price">
    </div>
    <div>
        <label for="guets">Gusets</label>
        <input value="{{guets}}" type="number" id="guets" name="guets" placeholder="guets">
    </div>
    <div>
        <label for="bedrooms">Bedrooms</label>
        <input value="{{bedrooms}}" type="number" id="bedrooms" name="bedrooms" placeholder="bedrooms">
    </div>
    <div>
        <label for="beds">Beds</label>
        <input value="{{beds}}" type="number" id="beds" name="beds" placeholder="beds">
    </div>
    <div>
        <label for="baths">Baths</label>
        <input value="{{baths}}" type="number" id="baths" name="baths" placeholder="baths">
    </div>
    <div>
        <label for="instant">Instant Book Only?</label>
        <input type="checkbox" id="instant" name="instant" {% if instant %}checked{% endif %}>
    </div>
    <div>
        <label for="super_host">By Superhost Only?</label>
        <input type="checkbox" id="super_host" name="super_host" {% if super_host %}checked{% endif %}>
    </div>
    <div>
        <h3>Amenities</h3>
        <ul>
            {% for amenity in amenities %}
            <li>
                <label for="a_{{amenity.pk}}">{{amenity.name}}</label>
                <input type="checkbox" name="amenities" id="a_{{amenity.pk}}" value={{amenity.pk}}
                    {% if amenity.pk|slugify in s_amenities %}checked{% endif %}>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Facilities</h3>
        <ul>
            {% for facility in facilities %}
            <li>
                <label for="a_{{facility.pk}}">{{facility.name}}</label>
                <input type="checkbox" name="facilities" id="a_{{facility.pk}}" value={{facility.pk}}
                    {% if facility.pk|slugify in s_facilities %}checked{% endif %}>
            </li>
            {% endfor %}
        </ul>
    </div>

    <button>Search</button>

</form>
{% endblock content %}