{% extends 'base.html' %}

{% block page_name %}
Reservation {{reservation.check_in}}
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <div class="container mx-auto my-10 flex flex-col">
        <div class="border-l border-r border-t bg-cover bg-center h-56 rounded-lg" style="background-image: url({{reservation.room.first_photo}});"></div>
        <div class="py-8 px-5 flex flex-col border-l border-r border-t border-b">
            <div class="font-medium border-b py-8 px-5 w-full">
                {{reservation.check_in}} - {{reservation.check_out}} <span>{{reservation.status}}</span>
            </div>

            <div class="text-2xl border-b mt-2 p-5 w-full">
                {{reservation.room.name}}
            </div>

            <div>
                <div class="flex my-10 p-5 border-b">
                    <div class="flex flex-col items-center">
                        {% include 'mixins/user_avatar.html' with user_obj=reservation.room.host %}
                        <span class=" mt-2 text-gray-700">{{reservation.room.host.first_name}}</span>
                    </div>
                    <div class="ml-5 flex flex-col">
                        <span class=" font-medium mb-px">Contact your Airbnb Host</span>
                        <a href="#" class="font-medium text-teal-500">Send a Message</a>
                    </div>
                </div>
                <div class="py-10 px-5">
                    <a href="#" class="btn-link p-5">Cancel Reservation</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}