{% extends 'base.html' %}

{% block page_name %}
{{user_obj.first_name}}의 프로파일
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<!-- 바닥글이 밑으로 하는 기능 -->
<div class=" h-75vh">
    <div
        class=" container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-500">


        {% include 'mixins/user_avatar.html' with user_obj=user_obj %}

        <div class="flex items-center justify-center ">
            <span class="mt-1 text-3xl">{{user_obj.first_name}}</span>
            {% if user_obj.superhost %}
            <i class="fa fa-check-circle text-teal-400 ml-4"></i>
            {% endif %}
        </div>



        <span class=" text-lg">{{user_obj.bio}}</span>


        {% if user == user_obj %}
        <a href="{% url "users:update" %}" class="btn-link ">프로파일 수정</a>
        {% endif %}

    </div>

    <!-- 방개수가 없으면 보여주지 않기  -->
    {% if user_obj.rooms.count > 0 %}
    <div class="flex container mx-auto pb-10 flex-col items-center">
        <h3 class=" mb-12 text-xl">{{user_obj.first_name}}의 방</h3>
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in user_obj.rooms.all %}
            {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}